@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Satoshi, "Satoshi Placeholder", sans-serif;
}
.layout{
  height: 100%;
}

.container{
  max-width:100%;
  margin: 0 auto;
  height: 100%;
}

.hero-section {
  min-height: 100vh;
  /* position: relative; */
  background-color: #ffffff;
  overflow: hidden;

  /* Dot pattern */
  background-image:
    radial-gradient(circle, rgba(0,0,0,0.20) 1px, transparent 1.5px),
    linear-gradient(to bottom, #fff, rgba(255,255,255,0), #fff);

  background-size:
    20px 20px,
    20px 20px,
    100% 100%;

  background-position:
    center top,
    center bottom,
    center;
}

.root-navbar{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  margin: 0 auto;
  padding: 50px 40px;
  background-color: transparent;

  position: sticky;
  top: 0;
  z-index: 100;
}

.logos{
  width: 90px;
  height: 30px;
  font-size: 140px;
}

.links{
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px 8px;
  gap: 8px;
  box-shadow: 0px 0px 0px 1px white;
}

.link-items{
  gap: 8px;
  padding: 4px 4px;
  font-weight: 500;

  &:hover{
    background-color: #f3f4f6;
    border-radius: 4px;
  }
}

.btn{
  padding: 6px 12px;
  font-weight: 500;
  border-radius: 8px;
  color: white;
  background-color: #e55416;
}
.hero-root{
  position:relative;
}
.hero-title{
  max-width: 900px;
  font-size: 62px;
  text-align: center;
  font: 550;
  margin: 28px auto;
  line-height: 62px;
  letter-spacing: -4;
}

.hero-title span{
  color: rgb(227, 68, 0);
  font-style: italic;
  font-family: "Instrument Serif", "Instrument Serif Placeholder",;
}

.hero-subtitle{
  color: rgb(97, 97, 97);
  font-size: 24px;
  font-weight: 500;
  max-width: 600px;
  text-align: center;
  margin: 14px auto;
  line-height: 31px;
}

.hero-cta{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding-top: 24px;

}

.secondary-btn{
  border: 1px solid rgb(227, 68, 0);
  border-radius: 8px;
  font-weight: 500;
  padding:6px 12px;
  color: rgb(226, 68, 0);
  background-color: #ffffff;
}

.main-content{
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.sub-heading{
  font-size: 15px;
  color: rgb(97, 97, 97);
  text-align: center;
  letter-spacing: -0.4;
  font-weight: 500;
}

.logo-marquee {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  padding: 20px 0;
  padding-bottom: 40px;
}

.marquee-track {
  display: flex;
  gap: 60px;
  width: max-content;

  animation: scroll-left 20s linear infinite;
}

.marquee-track img {
  height: 40px;
  opacity: 0.4;
  filter: grayscale(100%);
  transition: opacity 0.3s;
}

.marquee-track img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logo-marquee::before,
.logo-marquee::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
}

.logo-marquee::before {
  left: 0;
  background: linear-gradient(to right, #fff, transparent);
}

.logo-marquee::after {
  right: 0;
  background: linear-gradient(to left, #fff, transparent);
}

.main-content-heading{
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  font-size: 52px;
  font-weight: 500;
  line-height: 52px;
  color: rgb(18,18,18);

}

span{
  color: rgb(227, 68, 0);
  font-style: italic;
  font-family: "Instrument Serif", "Instrument Serif Placeholder";
}

.cards{
  padding-top: 60px;
  display: grid;
  max-width: 1020px;
  margin: 0 auto;
  grid-gap: 12px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}

.card{
  max-width: 540px;
  height: 200px;
  border: 0.1px solid #e4e4e7;
  opacity: 1;
  border-radius: 15px;
  padding: 30px 25px;
  box-shadow:0px 4px 8px 0px #9ca3af;
}


.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-heading{
  max-width: 250px;
  font-size: 25px;
  line-height: 30px;
}

.sub-title{
  max-width: 300px;
  text-align: start;
  font-size: 20px;
  color: rgb(97,97,97);
  font-weight: 500;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.second-main{
  background: linear-gradient(to bottom,#f9fafb, white);
  margin:80px auto;
  padding-top: 40px;
}

.second-main-cards{
  display: grid;
  max-width: 1020px;
  margin: 50px auto;
  grid-gap: 15px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}

.second-main-card{
  width: 500px;
  height: 654px;
  background-color: white;
  border: 0.5px solid #d1d5db;
  border-radius: 10px;
  padding: 14px 8px;
  box-shadow:0px 6px #f3f4f6;
}

.sub-card{
  position: relative;
  background-color: #f3f4f6;
  overflow: hidden;

  /* Dot pattern */
  background-image:
    radial-gradient(circle, rgba(0,0,0,0.20) 1px, transparent 1.5px),
    linear-gradient(to bottom, #f3f4f6, rgba(255,255,255,0), #f3f4f6);

  background-size:
    20px 20px,
    20px 20px,
    100% 100%;

  background-position:
    center top,
    center bottom,
    center;




  width: 460px;
  height: 470px;
  border: 0.5px solid #d1d5db;
  border-radius: 10px;
  margin: 0 auto;
  align-items: center;
}

.sub-card img{
  object-fit:fill;
}

.second-main-card-h{
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(18,18,18);
  padding: 10px 10px;
}

.second-main-card-sh{
  max-width: 400px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(152,152,151);
  padding: 10px 10px;

}


.third-main{
  background: linear-gradient(to bottom,#f9fafb, white);
  margin:80px auto;
  padding-top: 40px;
}

.third-main-cards{
  display: grid;
  max-width: 1020px;
  margin: 50px auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1fr);
}

.third-main-card{
  width: 320px;
  height: 430px;
  background-color: white;
  border: 0.5px solid #d1d5db;
  border-radius: 10px;
  padding: 14px 8px;
  box-shadow:0px 6px #f3f4f6;
}

.third-sub-card{
  position: relative;
  background-color: #f3f4f6;
  overflow: hidden;

  /* Dot pattern */
  background-image:
    radial-gradient(circle, rgba(0,0,0,0.20) 1px, transparent 1.5px),
    linear-gradient(to bottom, #f3f4f6, rgba(255,255,255,0), #f3f4f6);

  background-size:
    20px 20px,
    20px 20px,
    100% 100%;

  background-position:
    center top,
    center bottom,
    center;



  width: 270px;
  height: 280px;
  border: 0.5px solid #d1d5db;
  border-radius: 10px;
  margin: 0 auto;
  align-items: center;
}

.fourth-main{
  margin: 0 auto;
  margin-top: 60px;
}

.fourth-heading{
  max-width: 600px;
}

.scroll-card-main {
  max-width: 1020px;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  padding: 20px 0;
  padding-bottom: 40px;
}

.scroll-card{
  position: relative;
  background-color: #f3f4f6;
  overflow: hidden;

  /* Dot pattern */
  background-image:
    radial-gradient(circle, rgba(0,0,0,0.20) 1px, transparent 1.5px),
    linear-gradient(to bottom, #f3f4f6, rgba(255,255,255,0), #f3f4f6);

  background-size:
    20px 20px,
    20px 20px,
    100% 100%;

  background-position:
    center top,
    center bottom,
    center;



  width: 270px;
  height: 280px;
  border: 0.5px solid #d1d5db;
  border-radius: 10px;
  margin: 0 auto;
  align-items: center;
  padding: 10px 10px;
}

.stars{
  display: flex;
  justify-content: start;
  align-items:start;
  gap: 2px;
  text-align: start;
  padding: 10px 0px;

}

.star{
  font-size: 3px;
  color: #e55416;
}

.sub-heading1{
  text-align: flex-start;

}

.name{
  margin-top: 35px;
  text-align: start;
}

.name-title{
  text-align: start;
  color: #9ca3af;
}