@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GeistSans", "GeistSans Fallback";
}

.layout{
  height: 100vh;
  background-color: #0a0a0a;
}

.root-navbar{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #0a0a0a;
  border-bottom: 0.1px solid #1c1c1c;
  padding: 0px 20px;

  position:sticky;
  top: 0;
  z-index: 100;
}

.navbar-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo{
  width: 20px;
  height: 20px;
}

.icon h4{
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-right: 20px;

}

svg path {
  fill: white; 
}

.links{
  display: flex;
  gap: 25px;
}


.link-items{
  color: #7f7f7f;
  font-size: 16px;
  font-weight: 400;
  gap: 10px;
}

.navbar-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-bar{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;
  border: 0.3px solid #1c1c1c;
  border-radius: 20px;
  padding: 3px 6px;
  background-color: #181818;
  gap: 8px;
}

.search-icon{
  align-items: center;
  width: 14px;
  height: 14px;
}

.search-bar span{
  color: #7f7f7f;
  font-size: 20px;
}



.toggle-btn{
  width: 70px;
  height: 35px;
  padding: 3px 6px;
  border: 0.1px solid #1c1c1c;
  border-radius: 20px;
}

.toggle{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
}

.toggle span{
  width: 9px;
  height: 9px;
}

.container{
  max-width: 900px;
  margin: 0 auto;
  height: 100vh;
}
.root-hero{
  margin: 40px 0px;
}


.glow-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 4px 8px;
  border-radius: 999px;

  background: #0f0f0f;
  background-color: #0a0a0a;
  color: white;
  font-size: 16px;
  font-weight: 500;

  border: none;
  cursor: pointer;
  z-index: 1;
}

/* Gradient border */
.glow-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;

  background: linear-gradient(
    90deg,
    #8b5cf6,
    #22c55e,
    #facc15,
    #ec4899
  );

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  z-index: -1;
}

/* Glow effect */
.glow-btn::after {
  content: "";
  position: absolute;
  inset: -6px;
  border-radius: inherit;

  background: linear-gradient(
    90deg,
    #8b5cf6,
    #22c55e,
    #facc15,
    #ec4899
  );

  filter: blur(10px);
  opacity: 0.5;
  z-index: -2;
}

/* Icon styles */
.star {
  color: #facc15;
  font-size: 18px;
}

.count {
  font-weight: 600;
}

.hero-title{
  font: GeistSans, "GeistSans Fallback";
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-top: 20px;
  padding: 3px 0px;
}

.hero-subtitle{
  color: #8d8d8d;
  font-size: 18px;
}

.text-btn{
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 4px 10px;
  border-radius: 10px;

  background: #0f0f0f;
  color: white;
  font-size: 16px;
  font-weight: 500;

  border: 0.1px solid #1c1c1c;
  cursor: pointer;
  z-index: 1;

  margin-top: 20px;
}

.hero-sec{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.hero-sec a{
  color: #999;
}

.dot {
  width: 3px;
  height: 3px;
  background: #343434;
  border-radius: 50%;
}

.yc{
  color:#999;
}
