@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  font-family: Inter, "Inter Fallback", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.layout{
  width: 100%;
  height: 100vh;
  position: relative;
}

.navbar-root{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px 30px;
  position: sticky;

  top: 0%;
  z-index: 100%;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo img{
  width: 30px;
  height: 30px;
}

.logo h2{
  color: white;
  font-weight:600;
}

.links{
  background-color: #202020;
  border: 0.1px solid #676666;
  border-radius: 25px;
  padding: 10px 15px;
  display: flex;
  gap: 30px;
}

.link-items{
  color: #a2a2a2;
  font-weight: 600;
}

.btns{
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn1{
  color: white;
  background-color: #0a0a0a;
  border-radius: 20px;
  border: 0.1px solid #a2a2a2;
  padding: 5px 15px;
  font-weight: 600;
}

.btn2{
  color: black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: 500;
}



.navigation{
  padding: 10px 10px;
  border: 0.2px solid #676666;
  border-radius: 50px;
  background-color: #202020;
  display: none;

  img{
    width: 20px;
    height: 20px;
    }
}



.layout {
  min-height: 100vh;
  position: relative;
  background-color: #0a0a0a;
  overflow: hidden;

  /* Dot pattern */
  background-image:
    radial-gradient(circle, #636364 0.4px, transparent 1.5px),
    linear-gradient(to bottom, #0a0a0a, rgba(255,255,255,0), #0a0a0a);

  background-size:
    20px 20px,
    20px 20px,
    100% 100%;

  background-position:
    center top,
    center bottom,
    center;
}

.hero-root{
  margin: 0 auto;
}
.heading{
  width: 900px;
  margin: 0vh auto;
  margin-top: 20vh;
}

.heading h1{
  color: #f2f2f2;
  font-size: 96px;
  line-height: 96px;
  font-weight: 700;
  text-align: center;
}

.subheading{
  margin: 0 auto;
  padding: 20px 20px;
}

.subheading h6{
  color: #f2f2f2;
  font-size: 22px;
  font-weight: 450;
  text-align: center;
}

.cta{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn2-secondary{
  color: black;
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 500;
}

.btn3{
  color: white;
  background-color: #0a0a0a;
  border: 0.3px solid #131313;
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: 500;
}



@media (max-width:852px) {
  .links{
    display: none;
  }
  .btn1{
    display: none;
  }
  .btn2{
    display: none;
  }

  .navigation{
    display: block;
  }

  .heading{
    width: 70vw;
    margin: 0vh auto;
    margin-top: 10vh;
  }

  .heading h1{
    color: #f2f2f2;
    font-size: 8vw;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }

  .subheading{
    width: 100vw;
    margin: 0 auto;
    padding: 2vh 5vh;
  }

  .subheading h6{
    color: #f2f2f2;
    font-size: 4vw;
    font-weight: 600;
    text-align: center;
  }


  .cta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3vh;
    gap: 15px;
  }
}